In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\matth\05-2023 Instacart Basket Analysis'

In [3]:
## importing products merged
ords_prods_merge = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data','orders_products_mergedv2.csv'))

#### Exercise 4.8.2

In [4]:
## create a subset

df = ords_prods_merge[:1000000]

In [6]:
# groups data by a given column - product name
df.groupby('product_name')

In [7]:
## aggregating the data with a specific field - which is the mean of a field
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.046322
4                19.815989
6                17.889307
7                18.758160
11               24.058511
12               16.655903
13               19.083966
14               19.636164
16               19.463158
17               12.646785
19               18.980203
20               18.595365

#### Exercise 4.8.3

##### In comparison to the df.subset there is not much variation between the number of orders in the department. They are not far off. The max is 23.6 whilst the lowest is 16.3

#### Exercise 4.8.4

In [8]:
## creates a max order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
pd.options.display.max_rows = None

In [10]:
## assigning customer with >40 orders as loyal
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
## assigning customers between 10 - 40 orders as regular
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
## assigning customers with less than 10 orders as new
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
## check
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    1172613
Loyal customer       875950
New customer         398593
Name: loyalty_flag, dtype: int64

#### Exercise 4.8.5

In [14]:
# Group by "prices" 
ords_prods_merge.groupby('prices')

In [15]:
# Segregating by "loyalty_flag" and then identify the mean for each "prices" column
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                    prices
                      mean
loyalty_flag
Loyal customer    7.598937
New customer      7.690388
Regular customer  7.671726

In [17]:
ords_prods_merge.groupby('loyalty_flag').agg({'order_number': ['mean']})

                 order_number
                         mean
loyalty_flag
Loyal customer      34.404155
New customer         4.537887
Regular customer    13.563861

#### Exercise 4.8.6

In [15]:
# Group data by "user_id" & create "mean_price" column for results
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Check
ords_prods_merge.head(5)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_of_day,days_since_prior_order,product_id,...,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,0,0,0,2398795,1,2,3,7,15.0,196,...,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.372222
1,1,1,1,473747,1,3,3,12,21.0,196,...,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.372222
2,2,2,2,2254736,1,4,4,7,29.0,196,...,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.372222
3,3,3,3,431534,1,5,4,15,28.0,196,...,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.372222
4,4,4,4,3367565,1,6,2,7,19.0,196,...,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.372222

In [17]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [18]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [19]:
# check
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     2138085
High spender     309071
Name: spending_flag, dtype: int64

#### Exercise 4.8.7

In [20]:

ords_prods_merge['days_of_median'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
# Check
ords_prods_merge.head(5)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_of_day,days_since_prior_order,product_id,...,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,days_of_median
0,0,0,0,2398795,1,2,3,7,15.0,196,...,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.372222,Low spender,20.5
1,1,1,1,473747,1,3,3,12,21.0,196,...,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.372222,Low spender,20.5
2,2,2,2,2254736,1,4,4,7,29.0,196,...,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.372222,Low spender,20.5
3,3,3,3,431534,1,5,4,15,28.0,196,...,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.372222,Low spender,20.5
4,4,4,4,3367565,1,6,2,7,19.0,196,...,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.372222,Low spender,20.5

In [22]:
ords_prods_merge.loc[ords_prods_merge['days_of_median'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [23]:
ords_prods_merge.loc[(ords_prods_merge['days_of_median'] > 10) & (ords_prods_merge['days_of_median'] <= 20), 'frequency_flag'] = 'Regular customer'

In [24]:
ords_prods_merge.loc[ords_prods_merge['days_of_median'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [25]:
#check
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

Frequent customer        1730066
Regular customer          490723
Non-frequent customer     226367
Name: frequency_flag, dtype: int64

#### Exercise 4.8.9

In [26]:
ords_prods_merge.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_mergedv2.csv'))